# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [5]:
city = ['Dhaka', 'Rajshahi', 'Chittagong']

In [6]:
city

['Dhaka', 'Rajshahi', 'Chittagong']

In [7]:
df = pd.DataFrame(city)

In [8]:
df

            0
0       Dhaka
1    Rajshahi
2  Chittagong

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(city)

list

In [12]:
row, column = df.shape

In [13]:
row

3

In [14]:
column

1

In [15]:
df = pd.DataFrame(city, columns=['City_in_BD'])
df

   City_in_BD
0       Dhaka
1    Rajshahi
2  Chittagong

In [16]:
df = pd.DataFrame(city, columns=['City_in_BD'], index=['c1','c2','c3'])
df

    City_in_BD
c1       Dhaka
c2    Rajshahi
c3  Chittagong

In [17]:
city2 = ['Dortmund', 'Paris', 'Postdam']

In [18]:
df2 = pd.DataFrame(zip(city, city2), columns=['City1', 'City2'])

In [19]:
df2

        City1     City2
0       Dhaka  Dortmund
1    Rajshahi     Paris
2  Chittagong   Postdam

In [21]:
df2.shape

(3, 2)

In [23]:
city3 = [['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [24]:
city3

[['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [27]:
df4 = pd.DataFrame(city3, columns=['State', 'City'])

In [28]:
df4

     State      City
0  Bavaria  Erlangen
1      NRW  Dortmund

In [29]:
city

['Dhaka', 'Rajshahi', 'Chittagong']

In [30]:
city2

['Dortmund', 'Paris', 'Postdam']

In [31]:
dict1 = {
    'city1': city,
    'city2': city2,
}

In [32]:
dict1

{'city1': ['Dhaka', 'Rajshahi', 'Chittagong'],
 'city2': ['Dortmund', 'Paris', 'Postdam']}

In [33]:
df5 = pd.DataFrame(dict1)

In [34]:
df5

        city1     city2
0       Dhaka  Dortmund
1    Rajshahi     Paris
2  Chittagong   Postdam

In [35]:
type(dict1)

dict